<!--
  Generated template for the ViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center> PICKUP INFO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="show">
    <ion-toolbar no-border class="head">
      <div>
        ORDER ID
      </div>
    </ion-toolbar>
    <div class="body">
      {{order_id}}
    </div>
    <br>
    <ion-toolbar no-border class="head">
      <div>
        SUPPLIER
      </div>
    </ion-toolbar>
    <div class="body">
       <h2>  {{supplier}} </h2>
      <br> PHONE  - {{supphone}}
      <br> ADDRESS  - {{supaddress}}
    </div>
    <br>
    <ion-toolbar no-border class="head">
      <div>
        INFORMATIONS
      </div>
    </ion-toolbar>
    <div class="body">
       ITEM NAME   - {{item_name}}      
      <br>  ITEM CODE   - {{item_id}}
      <br>  QTY   - {{qty}}
    </div>
    <br> 
    <div padding>
      <button ion-button full (click)="next()" color="dark">NEXT</button>
    </div>
  </div>
</ion-content>