<ion-header>

  <ion-navbar text-center>
    <ion-title>PICKUP DETAILS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-toolbar no-border>
    <div style="margin-left: 10px; font-size: 16px;">
      PACKAGE(S) PICKED UP
    </div>
  </ion-toolbar>
  <div>
    <ion-list radio-group [(ngModel)]="pickup">
      <ion-item no-lines>
        <ion-label color="dark">Yes</ion-label>
        <ion-radio (click)="yes()" value="yes" color="dark"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label color="dark">No</ion-label>
        <ion-radio (click)="no()" color="dark" value="no"></ion-radio>
      </ion-item>
    </ion-list>
  </div>

  <div padding *ngIf="expshow">
    <ion-list style="border-style: solid; color: red;">
      <button style="color: rgb(236, 89, 89);" ion-item *ngFor="let exp of exceptions" (click)="itemSelected(exp.id)">
        {{ exp.message }}
      </button>
    </ion-list>

    <ion-toolbar no-border style="margin-top: 20px;">
      <div style="margin-left: 10px; font-size: 16px;">
        EXCEPTION
      </div>
    </ion-toolbar>
    <div class="exp">
      {{exp}}
      <br>
      <br>
    </div>

    <div text-center>
      <button ion-button color="dark" style="width: 200px;" (click)="submit()" [disabled]="!exp">Submit</button>
    </div>
  </div>

  <div *ngIf="!expshow">
    <ion-toolbar no-border style="margin-top: 20px;">
      <div style="margin-left: 10px; font-size: 16px;">
        TRACKING NUMBER(S) & FORM ID(S)
      </div>
    </ion-toolbar>
    <div style="font-size: 12px;" text-center padding>
      Enter the tracking number manually or click on barcode scanner icon
    </div>

    <div padding>
      <ion-grid>
        <div *ngIf="one">
          <ion-row>
            <ion-col col-2 style="font-size: 30px;">
              <ion-icon ios="ios-barcode" md="md-barcode" (click)="scan(1)"></ion-icon>
            </ion-col>
            <ion-col col-7>
              <div class="textbox">
                <ion-input [(ngModel)]="onet" placeholder="TRACKING NO." class="inside-text" type="text"></ion-input>
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="textbox">
                <ion-input [(ngModel)]="onei" placeholder="FID" class="inside-text" type="text"></ion-input>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="two">
          <ion-row>
            <ion-col col-2 style="font-size: 30px;">
              <ion-icon ios="ios-barcode" md="md-barcode" (click)="scan(2)"></ion-icon>
            </ion-col>
            <ion-col col-7>
              <div class="textbox">
                <ion-input [(ngModel)]="twot" placeholder="TRACKING NO." class="inside-text" type="text"></ion-input>
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="textbox">
                <ion-input [(ngModel)]="twoi" placeholder="FID" class="inside-text" type="text"></ion-input>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="three">
          <ion-row>
            <ion-col col-2 style="font-size: 30px;">
              <ion-icon ios="ios-barcode" md="md-barcode" (click)="scan(3)"></ion-icon>
            </ion-col>
            <ion-col col-7>
              <div class="textbox">
                <ion-input [(ngModel)]="threet" placeholder="TRACKING NO." class="inside-text" type="text"></ion-input>
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="textbox">
                <ion-input [(ngModel)]="threei" placeholder="FID" class="inside-text" type="text"></ion-input>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="four">
          <ion-row>
            <ion-col col-2 style="font-size: 30px;">
              <ion-icon ios="ios-barcode" md="md-barcode" (click)="scan(4)"></ion-icon>
            </ion-col>
            <ion-col col-7>
              <div class="textbox">
                <ion-input [(ngModel)]="fourt" placeholder="TRACKING NO." class="inside-text" type="text"></ion-input>
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="textbox">
                <ion-input [(ngModel)]="fouri" placeholder="FID" class="inside-text" type="text"></ion-input>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="five">
          <ion-row>
            <ion-col col-2 style="font-size: 30px;">
              <ion-icon ios="ios-barcode" md="md-barcode" (click)="scan( )"></ion-icon>
            </ion-col>
            <ion-col col-7>
              <div class="textbox">
                <ion-input [(ngModel)]="fivet" placeholder="TRACKING NO." class="inside-text" type="text"></ion-input>
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="textbox">
                <ion-input [(ngModel)]="fivei" placeholder="FID" class="inside-text" type="text"></ion-input>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>

      <div text-right style="padding-right: 10px;">
        <button color="dark" (click)="add()" ion-button icon-only style="border-radius: 100px;">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </div>

    <ion-toolbar no-border style="margin-top: 20px; margin-bottom: 20px;">
      <div style="margin-left: 10px; font-size: 16px;">
        NUMBER OF PACKAGE - {{index}}
      </div>
    </ion-toolbar>

    <div text-center>
      <button ion-button color="dark" style="width: 200px;" (click)="next()" [disabled]="!pickup || !onet">Next</button>
    </div>
  </div>

</ion-content>