page-menu {
    .tab{
        background-color: #F5F5FF;
        border-radius: 5px;
        height: 60px;
        width: 250px;
        margin: 0 auto;
        box-shadow: 2px 2px 5px grey;
        margin-bottom: 10px;
        margin-bottom: 10px;
    }
    .image{
        margin-left: 10px;
        height: 25px;
    }
    .text{
        font-size: 15px;
        font-weight: 400;
    }
    .sub-text{
        font-size: 12px;
        font-weight: 300;
        color: rgb(39, 39, 39);
    }
}
